@font-face {
  font-family: Somatic;
  src: url(../../../assets/Somatic-Rounded.otf);
}
@font-face {
  font-family: Nirmala;
  src: url(../../../assets/Nirmala.ttf);
}

.somatic-font{
  font-family: Somatic !important;
}

.charitybtn{
  height: 3.5rem;
  width: 17rem;
  background-color: #00392e;
  color: white;
  font-size: 2rem;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0;
  font-family: Somatic;
  @media (max-width: 767px) {
    height: auto;
  }
}
.nirmala-font{
  font-family: Nirmala !important;
}
.s2-bonobo-content-left-top{
  width: 40rem;
  @media (max-width: 767px) {
    width: 100%;
  }
}

.s2-bonobo-content-left-down{
  width: 30rem;
  @media (max-width: 767px) {
    width: 100%;
    margin: 0 auto;
  }
}
.main-block {
  background: #00392e;
}
.milestoneheader{
  margin: 0 auto;
  width: 55%;
  @media (max-width: 767px) {
    width: 100%;
  }
}
.yellow-btn {
  padding: 0.8333vw 3.593vw;
  font-family: somatic;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2987012987012987vw;
  line-height: 28px;
  text-align: center;
  background-color: #fccf00;
  border: none;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  outline: inherit;
  @media (max-width: 767px) {
    font-size: 5.1948vw;
    padding: 3.332vw 14.372vw;
  }
}
.align-center{
  text-align: center;
}
.h3rem{
  height: 3rem;
}
.align-right{
  text-align: right;
}
.w180{
  width: 11.25rem;
  bottom: 0px;
  position: relative;
}
.w100pro{
  width: 100%;
  
}
.fs24{
  font-size: 1.5rem;
}

.fs30{
  font-size: 1.688rem;
}

.fss30{
  font-size: 2rem;
  font-weight: 900;
}

.color-darkgreen{
  color: #005141;
}

.border-radius{
  border-radius: 30px;
}
.scanscanpc2{
  .MuiGrid-root{
    padding-left: 5rem !important;
  }
}
.input-social{
  width: 18.688rem;
  height: 2.75rem;
  padding-right: 0.9rem;
  font-size: 1.5rem;
  color: #005141;
  @media (max-width: 767px) {
    width: 100%;
    float: left;
    text-align: left;
    padding-left: 1rem;
  }
}

.responseRight{
  float: right;
  @media (max-width: 767px) {
    float: left !important;
    text-align: left;
  }
}
.fs40{
  font-size: 2.5rem;
}

.fs72{
  font-size: 4.5rem !important;
  @media (max-width: 767px) {
    font-size: 2.5rem !important;
  }
}

.w20rem{
  width: 20rem;
}

.w25rem{
  width: 25rem;
}


.w30rem{
  width: 30rem;
}

.w10rem{
  width: 10rem;
}
.s5-bonobo-mobile3{
  font-size : 1.688rem;
  @media (max-width: 767px) {
    font-size: 0.8rem !important;
    text-align: center;
  }
}
.green-btn {
  height: 2.814rem;
  font-family: Somatic;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  background-color: #005141;
  border: none;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  outline: inherit;
  @media (max-width: 767px) {
    font-size: 5.192vw;
    height: 12.5vw;
  }
}
.float-left {
  float: left;
  position: relative;
  @media (max-width: 767px) {
    float: none;
  }
}

.pt290{
  padding-top: 16.538rem;
  @media (max-width: 767px) {
    padding-top: 1rem;
  }
}
.float-right {
  float: right;
  @media (max-width: 767px) {
    float: none;
    height: 12rem;
  }
}
.MuiGrid-spacing-xs-3{
    // overflow-y: auto;
    width: 80rem;
    margin: 0 auto;
}
.MuiGrid-item{
  padding-left: 5rem !important;
  @media (max-width: 767px) {
    width: 100%;
  }
}
.topmenu{
  background-color: #00A259;
  height: 6rem;
  width: 100%;
  z-index: 9999;
  position: fixed;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .bonobo-header{
    color: #fff;
    width: 70rem;
    margin: auto;
    
  }
  @media (max-width: 767px) {
    height: 3rem;
  }
}

.connectBtn{
  width: 125px;
  height: 31.82px;
  left: 1423px;
  top: 38px;
  transform: rotate(0deg);
  background-color: #FCCF00;
  border-radius: 30px;
  color: white;
  font-size: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  margin-left: 30px;
  margin-top: -0.21961932650073207vw;
  padding-top: 0.29282576866764276vw;
  text-align: center;
}

.fs16{
  font-size: 1rem;
}

.fs32{
  font-size: 2rem;
}

.fs25{
  font-size: 1.2rem !important;
}
.mt30{
  margin-top: 1.875rem;
}
.mt20{
  margin-top: 1.25rem;
}
.fleft{
  float: left;
}
.worldText{
  width: 528px;
  height: 104px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  font-family: somatic;
  
}
.symbols{
  list-style: none;
  margin-top: 1.688rem;
  @media (max-width: 767px) {
    display: flex;
    justify-content: center;
  }
  li{
    @media (max-width: 767px) {
      width: 3rem;
    }
  }
}
.symbolimg{
  cursor: pointer;
  @media (max-width: 767px) {
    width: 2.313rem;
  }
}
.font-yellow{
  color: #FCCF00;
}

.iwant{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
}
.lastText{
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
}
ol, ul {
  padding-left: 0;
}
.mr17{
  margin-right: 1.063rem;
}
.mr5{
  margin-right: 5px;
}
.symbol{
  float: left;
}
.welcomeText{
  margin-top: 6.812rem;
  width: 40rem;
  @media (max-width: 767px) {
    width: 100%;
  }
}
.mt27{
  margin-top: 1.688rem;
}
.cursor-hand{
  cursor: pointer;
}
.borabtn{
  width: 10rem;
  @media (max-width: 767px) {
    width: 100%;
    height: 4rem;
    margin-bottom: 0.5rem;
  }
}
.coinbtn{
  @media (max-width: 767px) {
    width: 100%;
    height: 4rem;
    margin-bottom: 0.6rem;
  }
}
.mt15{
  margin-top: 0.938rem;
}
.p40{
  padding: 40px !important;
}
.bg-gray-green{
  background-color: #015F4D !important;
}

.menu {
  height: 5.84vw;
  padding: 0px;
  left: 0;
  margin-left: 3rem;
  @media (max-width: 767px) {
    padding: 0px;
    height: 42rem;
    width: 40%;
  }
  .logo {
    margin-top: 1.3rem;
    width: 13rem;
    @media (max-width: 767px) {
      float: left;
      width: 11rem;
      margin-top: 0.3rem;
    }
  }
  
  .menutab {
    float: right;
    list-style: none;
    padding: 2rem;
    padding-top: 2.2rem;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    li {
      float: left;
      font-size: 1rem;
      font-family: "Montserrat", sans-serif;
      font-weight: 800;
      margin-right: 1.091rem;
      &:last-child {
        margin-right: 0;
      }
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  .mobilemenu {
    position: fixed;
    left: -50px;
    top: 0;
    width: 26rem;
    height: 100vh;
    background-color: #00392e;
    z-index: 99999;
    text-align: left;
    list-style: none;
    font-size: 5.332vw;
    font-family: "Montserrat", sans-serif;
    padding-top: 2rem;
    transition: left 1s;
    overflow-y: auto;
    @media (min-width: 768px) {
      display: none;
    }
    @media (max-width: 767px) {
      display: block;
      width: 100%;
    }
    li {
      margin-bottom: 1rem;
      font-size: 2rem;
      margin-left: 1rem;
      text-align: center;
      a {
        color: #fff;
        text-decoration: none;
      }
      &:first-child {
        text-align: right;
        padding-right: 2rem;
      }
    }
  }
}
.firstText{
  @media (max-width: 767px) {
    width: 100%;
  }
}
.menuButton {
  background-color: #fccf00;
  border: none;
  border-radius: 50%;
  padding: 3px 7px;
  color: #fff;
  cursor: pointer;
  &:hover {
    cursor: pointer;
  }
  &.open {
    float: right;
    top: 2.271rem;
    position: relative;
    @media (max-width: 767px) {
      top : 0.5rem;
    }
  }
  @media (min-width: 768px) {
    display: none;
  }
  @media (max-width: 767px) {
    margin-right: 4rem;
    display: block;
    right: 0;
    position: fixed !important;
  }
}
html{
  height: 100%;
}
.secondText{
  margin-top: -3rem;
  width: 35rem;
  @media (max-width: 767px) {
    margin-top: 1rem;
  }
}
.joinBtn{
  float: right;
  width: 68% !important;
  margin-top: 50px;
}
section:nth-child(1) {
  background: url("./img/s1.png") no-repeat, #015f4d no-repeat center center;
  @media (min-width: 767px) {
    display: flex;
    justify-content: center;
  }
  height: 52.688rem;
  background-size: 100% 100%;
  width: 100%;
  @media (max-width: 767px) {
    background-size: cover;
    height: auto;
    padding-bottom: 90px;
  }
  .bonobo-content-card {
    color: #fff;
    padding: 0 18.3vw;
    
    @media (max-width: 767px) {
      text-align: center;
      padding: 0 10px;
    }
    .bonobo-heading {
      padding-top: 6.177vw;
      strong {
        font-size: 1.2987012987012987vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        color: #ffffff;
      }
      h1 {
        color: #ffffff;
        font-family: somatic;
        font-style: normal;
        font-weight: normal;
        font-size: 8.3333vw;
        line-height: 9.843vw;
        @media (max-width: 767px) {
          font-size: 19.33vw;
          line-height: 19.83vw;
        }
      }
    }
    .bonobo-content {
      margin-top: 1.5rem;
      p {
        font-family: "Montserrat", sans-serif;
        color: #fff;
        width: 37em;
        padding-bottom: 5px;
        font-style: normal;
        font-weight: 500;
        font-size: 0.8333vw;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          width: 90%;
          margin: auto;
          font-size: 3.332vw;
          line-height: 5vw;
        }
      }
    }
    .bonobo-button {
      margin-top: 2.534rem;
    }
    .bonobo {
      width: 17.786rem;

      @media (min-width: 768px) {
        left: 1.778rem;
      }
    }
  }
}
section:nth-child(2) {
  background: #005141 no-repeat center center;
  position: relative;
  max-width: 100%;
  overflow-y: auto;
  .main-container{
    width: 70rem;
    margin: 0 auto;
    @media (max-width: 767px) {
      text-align: center;
      width: 100%;
    }
    .s2-bonobo-content-card {
      width: 75%;
      color: #fff;
      // padding: 5.558rem 0rem 0 18.624rem;
      display: flex;
      justify-content: center;
      @media (max-width: 767px) {
        padding: 20px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
      }
      // .content{
      //   .s2-bonobo-content-left-top{
      //     @media (max-width: 767px) {
      //       // margin: 0 auto;
      //       text-align: center;
      //       width: 100%;
      //     }
      //   }
      // }
      strong {
        font-size: 1.25vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 5vw;
          line-height: 5vw;
        }
      }
      h2 {
        font-size: 4.269rem;
        font-family: somatic;
        font-style: normal;
        font-weight: normal;
        line-height: 4.44rem;
        margin-bottom: 1.067rem;
        @media (max-width: 767px) {
          line-height: 15.222rem;
          font-size: 15.222rem;
        }
      }
      ul {
        padding-left: 0.625rem;
        li {
          margin: 0.625rem;
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 0.711rem;
          line-height: 1.067rem;
          text-align: left;
          @media (max-width: 767px) {
            font-size: 3.332vw;
            line-height: 5vw;
          }
        }
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.711rem;
        line-height: 1.067rem;
        @media (max-width: 767px) {
          font-size: 3.332vw;
          line-height: 5vw;
        }
        b {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 800;
        }
      }
    }
    .imgs {
      width: 25%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    .leafsun {
      background: #00a259;
    }
    button {
      margin-top: 3.073vw;
      @media (min-width: 768px) and (max-width: 767px) {
        margin-top: 0.073vw;
      }
    }
  }
 
}
.social-network-block {
  background-color: #fccf00;
  color: #fff;
  position: relative;
  @media (max-width: 767px) {
    padding: 40px 20px;
    text-align: center;
  }
  .social-mobile{
    @media (max-width: 767px) {
      display: block;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
  .social-pc{
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: block;
    }
  }
  .social-mobile2{
    @media (max-width: 767px) {
      display: block;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
  .social-pc2{
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: block;
    }
    .MuiGrid-container{
      .MuiGrid-item{
        padding-left: 0 !important;
      }
    }
  }
  // .social-pc2{
  //   .MuiGrid-root{
  //     padding-left: 5rem !important;
  //   }
  // }
  .MuiGrid-root {
    align-items: flex-end;
    margin: 0 auto;
    width: 70rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  .content {
    display: flex;
    
    .media-block {
      display: inline-block;
      place-content: start;
      align-items: center;
      padding-top: 1.04vw;
      img {
        width: 3.125vw;
        @media (max-width: 767px) {
          width: 12.5vw;
          margin-right: 6.25vw;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      a {
        margin-right: 1.572vw;
        @media (max-width: 767px) {
          margin-right: 6.25vw;
          &:last-child {
            margin-right: 0;
          }
        }
      }
      .heading {
        font-family: somatic;
        font-style: normal;
        font-weight: normal;
        font-size: 3.2467532467532467vw;
        line-height: 3.125vw;
        color: #ffffff;
        margin-bottom: 1.04vw;
        display: inline-block;
        @media (max-width: 767px) {
          font-size: 12.98vw;
          line-height: 19.5vw;
        }
      }
    }
    .email-block {
      margin-left: 15.4vw;
      @media (max-width: 767px) {
        margin: auto;
        text-align: center;
      }
      p {
        width: 20.68vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 1.2987012987012987vw;
        line-height: 1.66vw;
        @media (max-width: 767px) {
          text-align: center;
          width: auto;
          font-size: 5.192vw;
          line-height: 6.64vw;
          margin-top: 5.17vw;
        }
      }
      label {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        font-size: 0.8658008658008658vw;
        display: inline-block;
        margin-top: 1.56vw;
        @media (max-width: 767px) {
          font-size: 3.44vw;
        }
      }
      input[type="email"] {
        border: none;
        border-radius: 1.56vw;
        resize: vertical;
        margin-top: 10px;
        margin-right: 15px;
        font-size: 0.83vw;
        padding: 1.04vw;
        width: 19.68vw;
        @media (max-width: 767px) {
          width: 58.72vw;
          display: block;
          margin: 4.16vw auto;
          font-size: 3.32vw;
          padding: 2.16vw 4.16vw;
        }
      }
      input:focus {
        outline: none !important;
      }
      button {
        width: 8.8vw !important;
        @media (max-width: 767px) {
          width: 35.2vw !important;
        }
      }
    }
  }
}
section:nth-child(4) {
  background: url("./img/Mask Group.png") no-repeat, #015f4d no-repeat;
  background-size: 100%;
  position: relative;
  width: 100%;
  height: 42.688rem;
  // padding: 6.77vw 18.3vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    text-align: center;
    background-size: cover;
    height: auto;
  }
  .content {
    width: 70rem;
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 0;
    }
    margin: 0 auto;
    padding-left: 5rem;
    .s3-bonobo-heading-block {
      color: #fff;
      strong {
        font-size: 1.2987012987012987vw;
        font-family: Somatic;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 5.1948vw;
          line-height: 5vw;
        }
      }
      h2 {
        font-family: Somatic;
        font-style: normal;
        font-weight: normal;
        font-size: 4.62rem;
        line-height: 4.44rem;
        padding-top: 2rem;
        @media (max-width: 767px) {
          font-size: 19.644vw;
          line-height: 17.8vw;
          margin-bottom: -5.33vw;
        }
      }
    }
    .s3-bonobo-main-block {
      color: #fff;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 2em;
      justify-content: space-around;
      height: 100%;
      margin-left: 1rem;
      margin-right: 1rem;
      margin-top: 2rem;
      @media (max-width: 767px) {
        display: initial;
      }
      .card {
        border-radius: 0.813rem;
        padding: 2.668rem 1.334rem;
        background-color: #005141;
        text-align: center;
        font-size: 0.938rem;
        // width: 19.68vw;
        height: 24.827rem;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        @media (max-width: 767px) {
          margin: 20px 0;
          width: 100%;
          text-align: left;
          padding: 12.5vw 6.25vw;
          height: auto;
        }
      }
      .card-heading {
        font-family: Somatic;
        font-style: normal;
        font-weight: 800;
        // font-size: 1.2987012987012987vw;
        line-height: 1.67vw;
        font-size: 1.875rem;
        padding-bottom: 1.25vw;
        @media (max-width: 767px) {
          font-size: 7.12vw;
          line-height: 6.68vw;
          padding-bottom: 5vw;
        }
      }
      .card-svg {
        .heart-img {
          width: 4.318rem;
          height: 3.558rem;
          margin-bottom: 1.778rem;
          @media (max-width: 767px) {
            width: 8rem;
            height: 4rem;
          }
        }
        .handshake-img,
        .idea-img {
          width: 4.44rem;
          height: 4.44rem;
          margin-bottom: 1.332rem;
          @media (max-width: 767px) {
            width: 100%;
            height: 20.8vw;
          }
        }
      }
      .card-content {
        font-family: Nirmala;
        font-style: normal;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.067rem;
        @media (max-width: 767px) {
          font-size: 3.463vw;
          line-height: 5vw;
        }
      }
    }
  }
}
.card-4{
  background-color: #015F4D;
}

#Tokenomics {
  background: url("./img/s5.svg"), #005141 no-repeat center center;
  background-size: 100% 100%;
  position: relative;
  
  height: 50rem;
  margin: 0 auto;
 

  .s5-bonobo-mobile{
    @media (max-width: 767px) {
      display: block;
    }
    @media (min-width: 768px) {
      display: none;
    }
  }
  .s5-bonobo-pc{
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 768px) {
      display: block;
    }
    ul{
      list-style : none;
      li{
        float: left;
      }
    }
  }
  .s5-card{
    border-radius: 13px;
    background-color: #015F4D;
    font-size: 13px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  @media (max-width: 767px) {
    padding: 40px 20px;
    background-size: cover;
    height: auto;
  }
  .container-fluid {
    font-family: "Montserrat", sans-serif;
    color: #fff;
    margin: 0 auto;
    width: 70rem;
    @media (max-width: 767px) {
      width: 100%;
    }
    .heading {
      margin-left: 5rem;
      padding-top: 1rem;
      @media (max-width: 767px) {
        text-align: center;
        margin-left: 0;
        padding-top: 0;
      }
      strong {
        font-size: 1.2987012987012987vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 4.19vw;
          line-height: 5vw;
        }
      }
      h2 {
        font-family: somatic;
        font-style: normal;
        font-weight: normal;
        line-height: 4.446rem;
        @media (max-width: 767px) {
          font-size: 13.515rem;
        }
      }
    }
    .s5-bonobo-content-main-block {
      color: #fff;
      // margin-top: 2.604vw;
      .s5-bonobo-content-block-1 {
        width: 40rem;
        display: inline-block;
        @media (max-width: 767px) {
          width: 100%;
          display: block;
        }
        .s5-bonobo-content-block-sub-child {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: 2em;
          justify-content: space-around;
          height: 100%;
          margin-left: 1rem;
          margin-right: 0.2rem;
          margin-left: 0.2rem;
          margin-top: 3rem;
          grid-gap: 2em;
        }
        .card-1,
        .card-2,
        .card-3 {
          border-radius: 13px;
          background-color: #015F4D;
          font-size: 13px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
        .card-1 {
          padding: 2.083vw 1.562vw;
          @media (max-width: 767px) {
            padding: 8.331vw 6.248vw;
          }
          div {
            position: relative;
            @media (max-width: 767px) {
              height: 12vw;
            }
            strong {
              font-family: "Montserrat", sans-serif;
              color: #fccf00;
              font-size: 2.083vw;
              font-weight: 900;
              font-style: normal;
              font-weight: 800;
              line-height: 2.7083vw;
              width: 6.51vw;
              display: inline-block;
              @media (max-width: 767px) {
                font-size: 7.332vw;
                line-height: 10.83vw;
                width: 20.04vw;
                position: absolute;
                left: 0;
                top: 0;
                line-height: 5vw;
              }
            }
            span {
              font-size: 0.833vw;
              line-height: 2.7083vw;
              position: relative;
              top: -0.392vw;
              @media (max-width: 767px) {
                font-size: 3.332vw;
                line-height: 5vw;
                display: inline-block;
                width: 48vw;
                margin-left: 20.8vw;
              }
            }
            .c {
              font-weight: bolder;
            }
          }
        }
        .card-2 {
          height: 20.78vw;
          padding: 2.083vw 1.56vw;
          @media (max-width: 767px) {
            width: 37vw;
            height: auto;
            padding: 8.192vw 6.24vw;
          }
          .card-heading {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 30px;
            line-height: 1.67vw;
            @media (max-width: 767px) {
              font-size: 3.1948vw;
              line-height: 6.68vw;
            }
          }
          .card-body {
            width: 100%;
            padding: 0;
            div {
              font-size: 0.833vw;
              font-family: "Montserrat", sans-serif;
              font-style: normal;
              line-height: 1.25vw;
              margin-top: 1.042vw;
              @media (max-width: 767px) {
                font-size: 2.1948vw;
                line-height: 4.32vw;
              }
              strong {
                line-height: 1.25vw;
              }
            }
          }
        }
        .card-3 {
          height: 20.78vw;
          padding: 2.083vw 1.56vw;
          @media (max-width: 767px) {
            padding: 8.192vw 6.24vw;
          }
          @media (max-width: 767px) {
            width: 37vw;
            height: auto;
          }
          .card-heading {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 1.25vw;
            line-height: 1.67vw;
            @media (max-width: 767px) {
              font-size: 3.1948vw;
              line-height: 5.68vw;
            }
          }
          ul {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-size: 0.8658008658008658vw;
            line-height: 1.2vw;
            margin-top: 0.8vw;
            padding-left: 10px;
            @media (max-width: 767px) {
              font-size: 2.1948vw;
              line-height: 3.68vw;
              margin-top: 3.2vw;
            }
            li {
              padding: 0rem 0rem 1rem 0rem;
            }
          }
        }
      }
      .s5-bonobo-content-block-2 {
        width: 28.174rem;
        display: inline-block;
        @media (max-width: 767px) {
          width: 100%;
          display: block;
        }
        .card-1 {
          border-radius: 0.813rem;
          background-color: #005141;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          position: relative;
          padding: 1.776rem 1.332rem 0.068rem 1.332rem;
          margin-top: -18.723rem;
          width: 16.802rem;
          margin-left: 3.842rem;
          @media (max-width: 767px) {
            width: 90%;
            height: auto;
            padding: 8.32vw 6.24vw;
          }

          .card-heading {
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-weight: 800;
            font-size: 1.2987012987012987vw;
            line-height: 1.67vw;
            @media (max-width: 767px) {
              font-size: 3.1948vw;
              line-height: 8.68vw;
            }
          }
          p {
            margin-top: 0.781vw;
            width: 90%;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-size: 0.8658008658008658vw;
            line-height: 1.25vw;
            @media (max-width: 767px) {
              font-size: 2.1948vw;
              line-height: 3.68vw;
            }
          }
          ul {
            z-index: 1;
            font-family: "Montserrat", sans-serif;
            font-style: normal;
            font-size: 0.8658008658008658vw;
            line-height: 1.25vw;
            margin-top: 1.02vw;
            padding-left: 10%;
            li {
              line-height: 1.25vw;
              @media (max-width: 767px) {
                font-size: 2.1948vw;
                line-height: 3.68vw;
              }
              span {
                font-weight: 900;
                color: #fccf00;
              }
            }
          }
        }
        .bonobo-head-svg-block {
          padding-left: 0.888rem;
          @media (max-width: 767px) {
            text-align: right;
          }
          .face {
            width: 12.268rem;
            position: relative;
            z-index: 3;
            @media (max-width: 767px) {
              left: 8.196rem;
              top: -6.941rem;
            }
          }
          .monkey {
            width: 21.566rem;
            z-index: 0;
            margin-top: -13.028rem;
            margin-left: 4.358rem;
            @media (max-width: 767px) {
              margin: 0;
            }
          }
        }
      }
    }
  }
}
.bonobo-head-svg-block {
  padding-left: 1.04vw;
  @media (max-width: 767px) {
    text-align: right;
  }
  .face {
    width: 14.37vw;
    position: relative;
    z-index: 3;
    @media (max-width: 767px) {
      left: 9.6vw;
      top: -8.13vw;
    }
  }
  .monkey {
    width: 25.26vw;
    z-index: 0;
    margin-top: -15.26vw;
    margin-left: 5.104vw;
    @media (max-width: 767px) {
      margin: 0;
    }
  }
}
.social-info-block {
  background: url("./img/info.png"), #00392e;
  width: 100%;
  height: 35.427vw;
  background-size: 100% 100%;
  padding: 7.2917vw 0 0 18.385vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    background-size: cover;
    height: auto;
  }
  .content {
    position: relative;
    .content-block {
      width: 22.135vw;
      display: inline-flex;
      margin-right: 14.25vw;
      color: #fff;
      @media (max-width: 767px) {
        width: 100%;
        margin: 2.08vw auto;
      }
      .txt-heading {
        font-family: somatic;
        font-size: 3.125vw;
        line-height: 3.125vw;
        margin: 2.083vw 0 1.093vw 0;
        @media (max-width: 767px) {
          font-size: 12.5vw;
          line-height: 12.5vw;
          margin: 8.332vw 0 4.372vw 0;
        }
      }
      .txt-content {
        font-family: "Montserrat", sans-serif;
        font-size: 0.833vw;
        line-height: 1.25vw;
        font-weight: 500;
        @media (max-width: 767px) {
          font-size: 3.332vw;
          line-height: 5vw;
        }
      }
      img {
        width: 6.25vw;
        @media (max-width: 767px) {
          width: 25vw;
        }
      }
    }
  }
}

section:nth-child(7) {
  background: url("./img/buyback.png") no-repeat, #00ac4d no-repeat;
  background-size: 100% 100%;
  position: relative;
  width: 100%;
  height: 48.023rem;
  @media (max-width: 767px) {
    padding: 40px 20px;
    height: auto;
    background-size: cover;
  }
  .content {
    width: 70rem;
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 0rem;
      padding-top: 0rem;
    }
    margin: 0 auto;
    padding-left: 6rem;
    padding-top: 1.5rem;
    .s5-bonobo-heading-block {
      color: #fff;
      
      div {
        .sub {
          font-size: 2.049rem;
          line-height: 1.067rem;
          font-weight: 900;
          font-family: "Montserrat", sans-serif;
          @media (max-width: 767px) {
            font-size: 4.269rem;
            line-height: 4.269rem;
            text-align: center;
          }
        }
        .main {
          font-size: 5rem;
          font-family: somatic;
          line-height: 7rem;
          margin-bottom: 1.042vw;
          @media (max-width: 767px) {
            font-size: 7rem;
            line-height: 7rem;
            text-align: center;
            margin-bottom: 3.558rem;
          }
        }
      }
    }
    .bonobo-content-block {
      color: #fff;
      .card {
        display: inline-flex;
        width: 13.745rem;
        background: none;
        border: none;
        padding: 0;
        margin: 0;
        margin-right: 5.286rem;
        @media (max-width: 767px) {
          width: 100%;
          margin: auto;
          margin-bottom: 3.552rem;
        }
        .child-card {
          .step {
            div {
              span {
                font-size: 0.711rem;
                font-family: "Montserrat", sans-serif;
                font-weight: 900;
                text-transform: uppercase;
                position: relative;
                z-index: 2;
                top: -1.271rem;
                @media (max-width: 767px) {
                  font-size: 1.845rem;
                  top: -1.085rem;
                }
              }
              strong {
                font-family: "Montserrat", sans-serif;
                font-weight: 800;
                font-size: 4.446rem;
                color: #005141;
                position: relative;
                left: -1.3vw;
                @media (max-width: 767px) {
                  font-size: 10rem;
                  left: -4.44rem;
                }
              }
            }
          }
          .step-heading {
            font-size: 1.195rem;
            font-weight: bolder;
            margin-bottom: 0.89rem;
            @media (max-width: 767px) {
              font-size: 2.5rem;
              margin-bottom: 2rem
            }
          }

          .step-content {
            font-size: 0.711rem;
            line-height: 1.067rem;
            @media (max-width: 767px) {
              font-size: 1.5rem;
              line-height: 2rem;
            }
            a {
              color: #005141;
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
section:nth-child(9) {
  background-color: #005141;
  width: 100%;
  position: relative;
  
  @media (max-width: 767px) {
    padding: 2.5rem 1.25rem;
    height: auto;
  }
  .content {
    width: 70rem;
    margin: 0 auto;
    padding-bottom: 2rem;
    padding-top: 2rem;
    @media (max-width: 767px) {
      width: 100%;
    }
    .heading {
      color: #fff;
      strong {
        font-size: 1.067rem;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.067rem;
        @media (max-width: 767px) {
          font-size: 4.269rem;
          line-height: 4.269rem;
        }
      }
      h2 {
        font-family: somatic;
        font-style: normal;
        font-weight: normal;
        font-size: 4.446rem;
        line-height: 4.446rem;
        @media (max-width: 767px) {
          font-size: 14.37rem;
          // line-height: 14.37rem;
        }
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.711rem;
        line-height: 1.067rem;
        width: 31.764069264069263vw;
        @media (max-width: 767px) {
          font-size: 2.845rem;
          line-height: 4.269rem;
          width: 57.201rem;
        }
      }
    }
    .card-flow {
      width: 100%;
      overflow: hidden;
      padding-bottom: 0.938rem;
    }
    .card-section {
      position: relative;
      margin-top: 1.912rem;
      width: 8000px;
      transition: left 1s;
      .card {
        padding: 1.332rem 1.332rem 0;
        box-shadow: 5px 8px 8px rgba(17, 17, 17, 0.2) !important;
        width: 12.183rem;
        height: 9.75rem;
        background: #015f4d;
        box-shadow: 0px 10px 30px rgba(17, 17, 17, 0.2);
        border-radius: 1rem;
        position: relative;
        display: inline-block;
        margin-right: 1.733rem;
        @media (max-width: 767px) {
          width: 76.838rem;
          height: 55.477rem;
          margin-right: 0;
          // padding: 5.327rem 5.327rem 0;
        }
        .overlay {
          position: absolute;
          z-index: 3;
          width: 12.183rem;
          height: 9.75rem;
          background-image: linear-gradient(
            to right,
            rgba(0, 0, 0, 0),
            #005141
          );
          left: 0;
          top: 0;
          @media (max-width: 767px) {
            width: 0;
            height: 0;
          }
        }
        .cards-header {
          div {
            img {
              width: 0.89rem;
              height: 0.89rem;
              margin-right: 0.444rem;
              @media (max-width: 767px) {
                width: 2rem;
                height: 2rem;
                // margin-right: 1.776rem;
              }
            }
            span {
              font-family: "Montserrat", sans-serif;
              font-style: normal;
              font-weight: 800;
              font-size: 0.686rem;
              color: #ffffff;
              display: inline-flex;
              width: 6.625rem;
              @media (max-width: 767px) {
                font-size: 2rem;
                width: 100%;
              }
            }
          }
        }
        .cards-body {
          p {
            margin-top: 0.5rem;
            font-style: normal;
            font-weight: 500;
            line-height: 1.067rem;
            font-family: "Montserrat", sans-serif;
            font-size: 0.686rem;
            color: #ffffff;
            @media (max-width: 767px) {
              font-size: 2.742rem;
              line-height: 4.269rem;
              margin-top: 1.708rem;
            }
          }
        }
      }
    }
    .btns {
      margin-top: 2.134rem;
      @media (max-width: 767px) {
        margin-top: 4.269rem;
      }
      img {
        width: 2.877rem;
        padding: 0.489rem 0.709rem;
        border-radius: 17.075rem;
        margin-right: 1.708rem;
        @media (max-width: 767px) {
          width: 11.509rem;
          padding: 1.957rem 4.269rem;
          margin-right: 6.83rem;
        }
        &:hover {
          cursor: pointer;
        }
      }
      .greenbtn {
        background: #015f4d;
      }
      .yellowbtn {
        background: #fccf00;
      }
    }
  }
}
section:nth-child(8) {
  background: url("./img/s9.svg") no-repeat, #015f4d no-repeat center center;
  background-size: 100% 100%;
  // padding: 1.37vw 18.385vw 7.1vw 18.385vw;
  // margin: 0 auto;

  height: auto;
  @media (max-width: 767px) {
    padding: 2.5rem 1.25rem;
    height: auto;
  }

  .roadmap_pc{
    @media (min-width: 768px) {
      display: block;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
 
  .content {
    width: 70rem;
    margin: 0 auto;
    padding-left: 5rem;
    @media (max-width: 767px) {
      width: 100%;
      padding-left: 0;
    }
    .s9-bonobo-heading-block {
      div {
        color: #fff;
        @media (max-width: 767px) {
          text-align: center;
        }
        .sub {
          font-size: 1.067rem;
          width: 100%;
          font-family: "Montserrat", sans-serif;
          @media (max-width: 767px) {
            font-size: 4.269rem;
          }
        }
        .main {
          font-size: 4.446rem;
          font-family: somatic;
          @media (max-width: 767px) {
            font-size: 7rem;
          }
        }
      }
    }

    .content-card-blocks {
      height: 100%;
      color: #fff;
      margin-top: 1.332rem;
      
      .content-card-block-1 {
        height: 100%;
        padding-top: 3.893rem;
        @media (max-width: 767px) {
          padding-top: 0rem;
        }
        .card {
          margin: 0;
          width: 12.183rem;
          position: relative;
          background: none;
          border: none;
          margin-bottom: 1.904rem;
          @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 7.615rem;
          }
          div {
            div {
              background-color: #00a259;
              font-size: 1.332rem;
              font-family: "Montserrat", sans-serif;
              font-weight: 900;
              border-radius: 1.875rem;
              width: 7.513rem;
              height: 2.668rem;
              text-align: center;
              padding-top: 0.318rem;
              @media (max-width: 767px) {
                font-size: 3.295rem;
                width: 18.561rem;
                height: 5.771rem;
              }
            }
            ul {
              font-family: "Montserrat", sans-serif;
              line-height: 1.067rem;
              margin-top: 2.062rem;
              font-size: 0.711rem;
              @media (max-width: 767px) {
                line-height: 2.681rem;
                margin-top: 2.681rem;
                font-size: 2.062rem;
                padding-left: 2.467rem;
              }
            }
          }
        }
      }
      .content-card-block-2 {
        height: 100%;
        .card {
          margin: 0 auto;
          width: 12.183rem;
          position: relative;
          background: none;
          border: none;
          margin-bottom: 1.904rem;
          @media (max-width: 767px) {
            width: 23.973rem;
            margin-bottom: 7.615rem;
          }
          div {
            div {
              background-color: #00a259;
              font-size: 1.332rem;
              font-family: "Montserrat", sans-serif;
              font-weight: 900;
              border-radius: 25.613rem;
              width: 7.513rem;
              height: 2.668rem;
              text-align: center;
              padding-top: 0.318rem;
              @media (max-width: 767px) {
                font-size: 3.295rem;
                width: 18.561rem;
                height: 5.771rem;
              }
            }
            ul {
              font-family: "Montserrat", sans-serif;
              line-height: 1.067rem;
              margin-top: 2.062rem;
              font-size: 0.711rem;
              @media (max-width: 767px) {
                line-height: 2.681rem;
                margin-top: 2.681rem;
                font-size: 2.062rem;
                padding-left: 2.467rem;
              }
            }
          }
        }
      }
    }
  }
}
section:nth-child(13) {
  background: #00392e no-repeat center center;
  background-size: 100%;
  padding: 0 0 9.37vw 18.385vw;
  height: 60.42vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    height: auto;
  }

  .content {
    .s10-bonobo-content-card {
      padding-top: 9.37vw;
      color: #fff;
      position: relative;
      display: inline-block;
      width: 30.57vw;
      @media (max-width: 767px) {
        width: 100%;
        padding-top: 0;
        text-align: center;
      }
      strong {
        font-size: 1.25vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 5vw;
          line-height: 5vw;
        }
      }
      h2 {
        font-size: 5.208vw;
        font-family: somatic;
        font-style: normal;
        font-weight: normal;
        line-height: 5.208vw;
        @media (max-width: 767px) {
          font-size: 13.33vw;
          line-height: 20.83vw;
        }
      }
      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.833vw;
        line-height: 1.25vw;
        margin-bottom: 1.25vw;
        @media (max-width: 767px) {
          font-size: 3.33vw;
          line-height: 5vw;
          margin-bottom: 5vw;
        }
        b {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 900;
          font-size: 0.9658008658008658vw;
          line-height: 1.25vw;
          @media (max-width: 767px) {
            font-size: 3.84vw;
            line-height: 5vw;
          }
        }
      }
      button {
        font-size: 1.25vw;
        width: 14.27vw;
        height: 3.125vw;
        margin-top: 1.14vw;
        padding: 0;
        @media (max-width: 767px) {
          font-size: 5vw;
          width: 57.08vw;
          height: 12.5vw;
          margin-top: 4.56vw;
        }
      }
    }
    .monkey {
      width: 47.3vw;
      display: inline-block;
      img {
        width: 100%;
      }
      @media (max-width: 767px) {
        width: 90vw;
        margin: 5.25vw auto;
      }
    }
  }
}
section:nth-child(11) {
  background-color: #00a259;
  height: 38.5vw;
  // padding: 9.37vw 0 9.37vw 18.385vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    height: auto;
  }
  .content {
    .s11-bonobo-content-card {
      color: #fff;
      display: inline-block;
      width: 30.57vw;
      @media (max-width: 767px) {
        width: 100%;
        text-align: center;
      }
      strong {
        font-size: 1.25vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        @media (max-width: 767px) {
          font-size: 5vw;
          line-height: 5vw;
        }
      }
      h2 {
        font-family: somatic;
        font-style: normal;
        font-weight: normal;
        font-size: 5.208vw;
        line-height: 5.208vw;
        @media (max-width: 767px) {
          font-size: 13.832vw;
          line-height: 20.832vw;
        }
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.803vw;
        line-height: 1.25vw;
        margin-bottom: 2.68vw;
        @media (max-width: 767px) {
          font-size: 3.212vw;
          line-height: 5vw;
          margin-bottom: 5.12vw;
        }
      }
    }

    .s11-dashboard-img-block {
      display: inline-block;
      width: 30.57vw;
      margin-left: 2.083vw;
      @media (max-width: 767px) {
        width: 73vw;
        margin-left: 7.23vw;
      }
      img {
        width: 100%;
      }
    }
  }
}
.section-12 {
  background-color: #005141;
  padding: 0 0 0 18.385vw;
  height: 25vw;
  @media (max-width: 767px) {
    padding: 40px 20px;
    height: auto;
  }
  .main {
    .s12-bonobo-content-card {
      color: #fff;
      display: inline-block;
      width: 35.52vw;
      padding-top: 6.35vw;
      @media (max-width: 767px) {
        padding: 0;
        width: 100%;
        text-align: center;
      }
      strong {
        font-size: 1.25vw;
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 800;
        line-height: 1.25vw;
        text-transform: uppercase;
        @media (max-width: 767px) {
          font-size: 5vw;
          line-height: 15vw;
        }
      }
      h2 {
        font-family: somatic;
        font-style: normal;
        font-weight: normal;
        font-size: 5.208vw;
        line-height: 5.208vw;
        @media (max-width: 767px) {
          font-size: 16.21vw;
          line-height: 16.21vw;
        }
      }

      p {
        font-family: "Montserrat", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 0.803vw;
        line-height: 1.25vw;
        width: 30.57vw;
        @media (max-width: 767px) {
          width: 90%;
          margin: auto;
          font-size: 3.21vw;
          line-height: 5vw;
        }
      }
    }
    .s12-vector-block {
      display: inline-block;
      width: 37.5vw;
      @media (max-width: 767px) {
        width: 80vw;
        margin-top: 5vw;
        margin-left: 5vw;
      }
      div {
        float: left;
      }
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
  width: 70rem !important;
}

#team {
  background: #015f4d;
  height: 55rem;
  // padding: 0 0 0 15.696rem;
  @media (max-width: 767px) {
    height: auto;
    padding: 0 17.075rem;
  }
  .container-fluid {
    .s13-bonobo-content-card {
      display: inline-block;
      width: 20rem;
      padding-top: 8.981rem;
      @media (max-width: 767px) {
        width: 100%;
        padding-top: 34.15rem;
        text-align: left;
      }
      div {
        .team-mobile{
          @media (max-width: 767px) {
            display: block;
          }
          @media (min-width: 768px) {
            display: none;
          }
        }
        color: #fff;
        strong {
          font-size: 1.067rem;
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 800;
          line-height: 1.067rem;
          text-transform: uppercase;
          @media (max-width: 767px) {
            font-size: 5.123rem;
            line-height: 4.269rem;
          }
        }
        h2 {
          font-family: somatic;
          font-style: normal;
          font-weight: normal;
          font-size: 4.446rem;
          line-height: 4.446rem;
          @media (max-width: 767px) {
            font-size: 15.222rem;
            line-height: 17.784rem;
          }
        }

        p {
          font-family: "Montserrat", sans-serif;
          font-style: normal;
          font-weight: 500;
          font-size: 0.711rem;
          line-height: 1.067rem;
          @media (max-width: 767px) {
            font-size: 2.845rem;
            line-height: 4.269rem;
          }
        }
      }
    }
    .s13-img-block {
      width: 42rem;
      padding: 3.558rem 1.264rem;
      @media (max-width: 767px) {
        display: none;
      }
      div {
        width: 15.111rem;
        margin-right: 2.8rem;
        display: inline-block;
        color: #fff;
        margin-bottom: 1.144rem;
        @media (max-width: 767px) {
          width: 28.174rem;
        }
        &:first-child {
          margin-left: 2.92rem;
          @media (max-width: 767px) {
            margin-left: 7.189rem;
          }
        }
        strong {
          display: block;
          font-size: 1.067rem;
          line-height: 1.426rem;
          @media (max-width: 767px) {
            font-size: 3.415rem;
            line-height: 4.841rem;
          }
        }
        p {
          font-size: 0.711rem;
          line-height: 1.067rem;
          margin-top: 0.376rem;
          @media (max-width: 767px) {
            font-size: 2.664rem;
            line-height: 4.269rem;
            margin-top: 1.076rem;
          }
        }
        img {
          width: 100%;
        }
      }
      .sline {
        strong,
        p {
          margin-left: 4.32rem;
          @media (max-width: 767px) {
            margin-left: 8.742rem;
          }
        }
      }
    }
  }
}
section:nth-child(14) {
  background-color: #002c24;
}

.dropbtn {
  color: white;
  font-size: 0.8333vw;
  border: none;
}

.dropbtn {
  color: white;

  font-size: 0.8333vw;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  display: none;
  position: absolute;
  background: #00392e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content .drop_down_links {
  color: #fff;
  cursor: pointer;
  outline: inherit;
  padding: 8px 10px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.main_tab_pointer {
  cursor: pointer;
}

.linear_gradient_font_color {
  background: linear-gradient(to right, green 0%, Yellow 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.linear_gradient_font_color2 {
  background: linear-gradient(
    to right,
    rgb(157, 157, 235) 0%,
    rgb(245, 92, 117) 100%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.footer{
  background-color: black;
  height: 25rem;
  @media (max-width: 767px) {
    height: 38rem;
  }
  width: 100%;
  .content{
    color: white;
    padding-top: 3rem;
    width: 70rem;
    margin: 0 auto;
    @media (max-width: 767px) {
      width: 100%;
    }
    .footer-pc{
      @media (max-width: 767px) {
        display: none;
      }
      @media (min-width: 768px) {
        display: block;
      }
      .MuiGrid-container{
        .MuiGrid-item{
          padding-left: 0 !important;
        }
      }
    }
    .footer-mobile{
      @media (max-width: 767px) {
        display: block;
        padding: 1rem;
      }
      @media (min-width: 768px) {
        display: none;
      }
      img{
        @media (max-width: 767px) {
          width: 10rem;
        }
      }
      ul{
        li{
          a{
            img{
              width: 2rem;
            }
          }
          img{
            width: 2rem;
          }
        }
      }

    }
  }
}

.footerP{
  font-size: 1.6rem;
  @media (max-width: 767px) {
    font-size: 1rem;
  }
}
.footerUl{
  list-style : none;
  li{
    float: left;
    margin-right: 1rem;
    @media (max-width: 767px) {
      margin-right: 0rem;
    }
    span{
      @media (max-width: 767px) {
        font-size: 1rem;
      }
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

.font-bold{
  font-weight: bold;
}